body {
    justify-content: center;
    font-family: 'Balsamiq Sans', sans-serif;
}

title {
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    justify-content: center;
    max-width: fit-content;

}
.jumbotron{
    margin: auto;
}

.container {
    justify-content: center;
    text-align: center;
}

.navbar {
    justify-content: center;
}
